
.btn1 {
    display: block;
    justify-content: centered;
    align-items: centered;
    width: 70px;
    height: 30px;
    font-family: Arial;
    font-weight: 1200;
    border-radius: 5px;
    margin: 10px 150px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px 5px;
    background-color: #3973F7;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border:2px solid #3973F7;
    transition: background-color 0.3s ease;
  }